{% macro base_entry(entry) %}
    <div class="l-sidebar">
        <div>
            <div class="not-sidebar">
                <h2 class="card__heading">
                    <a class="card__link" href="{{ entry.url }}">{{ entry.title }}</a>
                </h2>
                <p>{{ entry.excerpt }}</p>
            </div>
            <div class="sidebar">
                <div class="date-location">
                    <div>
                        <img src="{{ asset('svg/calendar.svg', 'main') }}" width="18px" height="20px" alt role="img"
                             aria-hidden="true"/>
                    </div>
                    <div>
                        <p>
                            <time datetime="{{ entry.start|date('c') }}">
                                {{ entry|date_range(site.locale) }}
                            </time>
                        </p>
                        <p>{{ entry.location }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if entry.category %}
        <p class="txt-pluto">
            <a href="{{ entry.category.url }}">{{ entry.category.title }}</a>
        </p>
    {% endif %}
    <p class="txt-pluto">{{ entry.type.title }}</p>
{% endmacro %}

{% if entry.thumbnailImage %}
    <div class="l-sidebar card card--event {{ entry|event_type }}" data-component="card">
        <div>
            <div class="not-sidebar card__text">
                {{ _self.base_entry(entry) }}
            </div>
            <div class="sidebar">
                <a href="{{ entry.url }}" class="l-frame card__image">
                    <img
                            src="{{ entry.thumbnailImage.url }}"
                            srcset="{{ entry.thumbnailImage.srcset }}"
                            loading="lazy"
                            {% if entry.thumbnailAltText %}
                                alt="{{ entry.thumbnailAltText }}"
                            {% else %}
                                alt="" role="presentation"
                            {% endif %}
                    />
                </a>
            </div>
        </div>
    </div>
{% else %}
    <div class="card card--event {{ entry|event_type }}" data-component="card">
        <div class="card__text">
            {{ _self.base_entry(entry) }}
        </div>
    </div>
{% endif %}
