{% macro date_range(entry, locale) %}
    {% if locale == 'en' %}
        {% set locale = 'en-GB' %}
    {% endif %}
    {% set tz = entry.tz %}
    {{ 'events.date_range'|trans(
        {
            'start_date': entry.start|format_datetime('long', 'none', locale=locale, timezone=tz),
            'start_time': entry.start|format_datetime('none', 'short', locale=locale, timezone=tz),
            'end_date': entry.end|format_datetime('long', 'none', locale=locale, timezone=tz),
            'end_time': entry.end|format_datetime('none', 'short', locale=locale, timezone=tz),
            'timezone': entry.tz,
            'same_day': (entry.start|date('Y-m-d', tz)) == (entry.end|date('Y-m-d', tz))
        },
        'w3c_website_templates_bundle'
    ) }}
{% endmacro %}

{% macro base_entry(entry) %}
    <div class="l-sidebar">
        <div>
            <div class="not-sidebar">
                <h2 class="card__heading">
                    <a class="card__link" href="{{ entry.url|absolute_url(app.request.locale) }}">{{ entry.title }}</a>
                </h2>
                <p>{{ entry.excerpt }}</p>
            </div>
            <div class="sidebar">
                <div class="date-location">
                    <div>
                        <img src="{{ asset('svg/calendar.svg', 'main') }}" width="18px" height="20px" alt role="img"
                             aria-hidden="true"/>
                    </div>
                    <div>
                        <p>
                            <time datetime="{{ entry.start|date('c') }}">
                                {{ _self.date_range(entry, site.locale) }}
                            </time>
                        </p>
                        <p>{{ entry.location }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if entry.category %}
        <p class="txt-pluto">
            <a href="{{ entry.category.url }}">{{ entry.category.title }}</a>
        </p>
    {% endif %}
    <p class="txt-pluto">{{ entry.type.title }}</p>
{% endmacro %}

{% if entry.thumbnailImage %}
    <div class="l-sidebar card card--event {{ entry|event_type }}" data-component="card">
        <div>
            <div class="not-sidebar card__text">
                {{ _self.base_entry(entry) }}
            </div>
            <div class="sidebar">
                <a href="{{ entry.url }}" class="l-frame card__image">
                    <img
                            src="{{ entry.thumbnailImage.url }}"
                            srcset="{{ entry.thumbnailImage.srcset }}"
                            loading="lazy"
                            {% if entry.thumbnailAltText %}
                                alt="{{ entry.thumbnailAltText }}"
                            {% else %}
                                alt="" role="presentation"
                            {% endif %}
                    />
                </a>
            </div>
        </div>
    </div>
{% else %}
    <div class="card card--event {{ entry|event_type }}" data-component="card">
        <div class="card__text">
            {{ _self.base_entry(entry) }}
        </div>
    </div>
{% endif %}
