{% set hasThumbnail = entry.thumbnailImage is defined and entry.thumbnailImage %}
<div class="{% if hasThumbnail %}l-sidebar {% endif %}card card--event {% block event_type_class %}{{ entry|event_type }}{% endblock %}" data-component="card">
    {% if hasThumbnail %}<div>{% endif %}
        <div class="{% if hasThumbnail %}not-sidebar {% endif %}card__text">
            <div class="l-sidebar">
                <div>
                    <div class="not-sidebar">
                        {% block event_main_content %}
                            <h2 class="card__heading">
                                <a class="card__link" href="{% block event_url %}{{ entry.url }}{% endblock %}">
                                    {% block event_title %}{{ entry.title }}{% endblock %}
                                </a>
                            </h2>
                            <div>
                                {% block event_excerpt %}
                                    {{ entry.excerpt }}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                    <div class="sidebar">
                        <div class="date-location">
                            <div>
                                <img src="{{ asset('svg/calendar.svg', 'website-2021') }}" width="18px" height="20px"
                                     alt aria-hidden="true"/>
                            </div>
                            <div>
                                <p class="date-orig">
                                    {% block event_dates %}{{ date_range(entry.start, entry.end, entry.tz, site.locale)|raw }}{% endblock %}
                                </p>
                                {% block event_location %}
                                    {% if entry.location %}
                                        <p>{{ entry.location }}</p>
                                    {% endif %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block event_category %}
                {% if entry.category %}
                    <p class="txt-pluto">
                        <a href="{{ entry.category.url }}">{{ entry.category.title }}</a>
                    </p>
                {% endif %}
            {% endblock %}
            {% block event_type %}
                <p class="txt-pluto">{{ entry.type.title }}</p>
            {% endblock %}
        </div>
        {% if hasThumbnail %}
            <div class="sidebar">
                <a href="{{ entry.url }}" class="l-frame card__image">
                    <img
                            src="{{ entry.thumbnailImage.url }}"
                            srcset="{{ entry.thumbnailImage.srcset }}"
                            loading="lazy"
                            {% if entry.thumbnailAltText %}
                                alt="{{ entry.thumbnailAltText }}"
                            {% else %}
                                alt="" role="presentation"
                            {% endif %}
                    />
                </a>
            </div>
        {% endif %}
    {% if hasThumbnail %}</div>{% endif %}
</div>

