<form class="l-switcher filters" novalidate>
    <div>
        <div>
            <div class="field">
                <label for="type">
                    <span class="faux-label">{{ 'listing.events.filters.types'|trans({}, 'w3c_website_templates_bundle') }}</span>
                </label>
                <select id="type" name="type">
                    {% for t in types %}
                        <option value="{{ t.slug }}"{% if type_slug == t.slug %} selected="selected"{% endif %}>
                            {{ t.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <div class="field">
                <label for="category">
                    <span class="faux-label">{{ 'listing.events.filters.categories'|trans({}, 'w3c_website_templates_bundle') }}</span>
                </label>
                <select id="category" name="category">
                    {% for category in categories %}
                        <option value="{{ category.slug }}"{% if category.slug == category_slug %} selected="selected"{% endif %}>
                            {{ category.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="input-group-wrap">
            <div class="input-group">
                <button class="button" type="submit">{{ 'listing.events.filters.search_button'|trans({}, 'w3c_website_templates_bundle') }}</button>
                <a class="button button--ghost" type="reset" href="{{ reset_url }}">{{ 'listing.events.filters.clear'|trans({}, 'w3c_website_templates_bundle') }}</a>
            </div>
        </div>
    </div>
</form>
