<form class="l-switcher filters" novalidate>
    <div>
        <div>
            <div class="field">
                <label for="type">
                    <span class="faux-label">Event type</span>
                </label>
                <select id="type" name="type">
                    <option value="">All</option>
                    {% for t in types|filter(t => t.level == 1) %}
                        <option value="{{ t.slug }}"{% if type_slug == t.slug %} selected="selected"{% endif %}>
                            {{ t.title }}
                        </option>
                        {% for child in t.children %}
                            <option value="{{ child.slug }}"{% if type_slug == child.slug %} selected="selected"{% endif %}>-- {{ child.title }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <div class="field">
                <label for="category">
                    <span class="faux-label">Category</span>
                </label>
                <select id="category" name="category">
                    <option value="">All</option>
                    {% for category in categories %}
                        <option value="{{ category.slug }}"{% if category.slug == category_slug %} selected="selected"{% endif %}>
                            {{ category.title }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            <div class="input-group">
                <button class="button" type="submit">Show results</button>
                <a class="button button--ghost" type="reset" href="{{ reset_url }}">Clear all</a>
            </div>
        </div>
    </div>
</form>
