<div class="l-sidebar">
    <div>
        <div class="not-sidebar">
            <div>
                <h2 class="txt-mars"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
                <div class="l-cluster">
                    <div>
                        {% if entry.category is defined and entry.category %}
                            <div>
                                <a href="{{ entry.category.url }}">{{ entry.category.title }}</a>
                            </div>
                        {% endif %}
                        {% if entry.date %}
                            <div>
                                <p>
                                    <span class="visuallyhidden">Published:</span>
                                    <time datetime="{{ entry.date|date('Y-m-d') }}">{{ entry.date|date('d F Y') }}</time>
                                </p>
                            </div>
                        {% endif %}
                            <div>
                                <p>
                                    By:
                                    {% if entry.authors is defined and entry.authors|length > 0 %}
                                        {{ entry.authors|map(a => a.name)|join(', ', ' and ') }}
                                    {% else %}
                                        {{ entry.author.name }}
                                    {% endif %}
                                </p>
                            </div>
                    </div>
                </div>
                <p>{{ entry.excerpt }}</p>
                {% if entry.tags|length > 0 %}
                <div class="l-cluster">
                    <ul class="clean-list">
                        {% for tag in entry.tags %}
                        <li>
                            <span class="tag">{{ tag.title }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        {% if entry.thumbnailImage %}
            <div class="sidebar">
                <a href="{{ entry.url }}" class="l-frame" aria-hidden="true" tabindex="-1">
                    <img
                        src="{{ entry.thumbnailImage.url }}"
                        srcset="{{ entry.thumbnailImage.srcset }}"
                        loading="lazy"
                        {% if entry.thumbnailAltText %}
                            alt="{{ entry.thumbnailAltText }}"
                        {% else %}
                            alt=""
                        {% endif %}
                    />
                </a>
            </div>
        {% endif %}
    </div>
</div>
