<section class="l-box l-box--no-border translations">
    <div class="l-sidebar">
        <div>
            <div class="sidebar">
                <h2>Read this page in:</h2>
            </div>
            <div class="not-sidebar">
                <div class="l-cluster">
                    <ul class="clean-list">
                        {% for translation in page_translations %}
                            <li>
                                {% set prefix = (translation.language_code == 'en' ? '/' : '/' ~ translation.language_code ~ '/') %}
                                <a href="{{ prefix }}{{ translation.uri }}"
                                   hreflang="{{ translation.language_code }}"
                                   lang="{{ translation.language_code }}"
                                   dir="auto"
                                >
                                    {{ translation.language_code|replace({'-': '_'})|language_name(translation.language_code) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
