{% extends '@W3CWebsiteTemplates/base.html.twig' %}

{% block main %}
	<div class="content">
		<article>
			<h1>{% block title %}{{ page.title|default('W3C') }}{% endblock %}</h1>
			{% if page.category is defined and page.category %}
				<div class="sub-head">Part of <a href="{{ page.category.url }}">{{ page.category.title }}</a></div>
			{% endif %}

			{% if page.localized is defined and page.localized|length > 0 %}
				{{ include('@W3CWebsiteTemplates/components/styles/page_translations.html.twig') }}
			{% endif %}

			{% if page.authors is defined and page.authors or page.postDate is defined and page.postDate %}
				<section class="meta">
					<h2 class="visuallyhidden">{{ 'post.meta.credit_title'|trans({}, 'w3c_website_templates_bundle') }}</h2>
					<dl>
						{% if page.authors is defined and page.authors %}
							<dt>{{ 'post.meta.credit'|trans({}, 'w3c_website_templates_bundle') }}</dt>
							<dd class="l-cluster">
								<ul class="clean-list" role="presentation">
									{% for author in page.authors %}
									<li>
										<p class="with-icon--before with-icon--larger">
											<span class="avatar avatar--small icon">
												{% if author.email %}
													<img alt="" src="{{ author.email|avatar }}" loading="lazy">
												{% else %}
													<img src="{{ asset('svg/avatar.svg', 'main') }}" width="32" height="32" alt aria-hidden="true"/>
												{% endif %}
											</span>
											{{ author.name }}
										</p>
									</li>
									{% endfor %}
								</ul>
							</dd>
						{% endif %}
						{% if page.postDate is defined and page.postDate %}
							<dt>{{ 'post.meta.published'|trans({}, 'w3c_website_templates_bundle') }}</dt>
							<dd><time datetime="{{ page.postDate|date('Y-m-d') }}">{{ page.postDate|date('d F Y') }}</time></dd>
						{% endif %}
					</dl>
					{% if comments is defined and comments|length > 0 %}
						<a href="#comments" class="skip-to-comments txt-pluto">{{ 'post.meta.skiplink'|trans({'count': commentsCount}, 'w3c_website_templates_bundle')|raw }}</a>
					{% endif %}
				</section>
			{% endif %}
			{% block components %}
				{% if page.defaultFlexibleComponents is defined and page.defaultFlexibleComponents %}
					{% for component in page.defaultFlexibleComponents %}
						{{ include('partials/defaultFlexibleComponents.html.twig') }}
					{% endfor %}
				{% endif %}
				{% if page.pageContent is defined and page.pageContent %}
						{{ page.pageContent|raw }}
				{% endif %}
			{% endblock components %}
			{% block post_notes %}
				{% if page.notes is defined and page.notes %}
					<section class="post__notes component--text">
						<h2 class="visuallyhidden">{{ 'post.notes_heading'|trans({}, 'w3c_website_templates_bundle') }}</h2>
						{{ page.notes|raw }}
					</section>
				{% endif %}
			{% endblock %}
		</article>
		{% block related %}
			{% if (page.tags is defined and page.tags is not empty)
                or (page.ecosystems is defined and page.ecosystems is not empty)
                or (page.groups is defined and page.groups is not empty)
                or (page.specifications is defined and page.groups is not empty) %}
				<section class="related">
					<div class="related__inner">
						<h2 class="txt-jupiter">{{ 'post.related.heading'|trans({}, 'w3c_website_templates_bundle') }}</h2>
						{% if page.tags is defined and page.tags %}
							<div>
								<h3>{{ 'post.related.heading_tags'|trans({}, 'w3c_website_templates_bundle') }}</h3>
								<ul class="clean-list" role="list">
								{% for tag in page.tags %}
									<li><a href="{{ tag.url }}">{{ tag.title }}</a></li>
								{% endfor %}
								</ul>
							</div>
						{% endif %}
						{% if page.ecosystems is defined and page.ecosystems %}
							<div>
								<h3>{{ 'post.related.heading_ecosystems'|trans({}, 'w3c_website_templates_bundle') }}</h3>
								<ul class="clean-list" role="list">
									{% for ecosystem in page.ecosystems %}
										<li><a href="{{ ecosystem.url }}">{{ ecosystem.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
						{% if page.groups is defined and page.groups %}
							<div>
								<h3>{{ 'post.related.heading_groups'|trans({}, 'w3c_website_templates_bundle') }}</h3>
								<ul class="clean-list" role="list">
									{% for group in page.groups %}
										<li><a href="{{ group.url }}">{{ group.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
						{% if page.specifications is defined and page.specifications %}
							<div>
								<h3>{{ 'post.related.heading_specifications'|trans({}, 'w3c_website_templates_bundle') }}</h3>
								<ul class="clean-list" role="list">
									{% for spec in page.specifications %}
										<li><a href="{{ spec.url }}">{{ spec.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</div>
				</section>
			{% endif %}
		{% endblock %}
		{% block feed %}
			{% include 'components/styles/feed.html.twig' with { 'feed_url': 'https://www.w3.org/blog/feed', 'feed_type': 'Blog' } %}
		{% endblock %}
	</div>
{% endblock %}

{% block crosslinks %}
	{{ parent() }}
	{% block comments %}{% endblock %}
{% endblock %}
