<div class="card card--group" data-component="card" id="{% block group_page_id %}{{ group.shortname }}{% endblock %}">
    <div class="card__text">
        <h2 class="card__heading">
            <a class="card__link" href="{% block group_url %}{{ group|profile_uri }}{% endblock %}">
                {% block group_name %}{{ group.name }}{% endblock %}
            </a>
        </h2>
        {% block group_description %}
            {% if group.closed %}<p><em>Group closed on {{ w3c_date_format(group.closedDate)|raw }}</em></p>{% endif %}
            {{ group.description|purify }}
        {% endblock %}
        {% block group_ecosystems %}
            {% if group.ecosystems is defined and group.ecosystems|length > 0 %}
                <dl class="txt-pluto">
                    <dt class="visuallyhidden">{{ 'ecosystems'|trans({'count': group.ecosystems|length}, 'w3c_website_templates_bundle') }}</dt>
                    {% for ecosystem in group.ecosystems %}
                        <dd>{% block group_ecosystem %}{{ ecosystem|replace({' Ecosystem': ''}) }}{% endblock %}</dd>
                    {% endfor %}
                </dl>
            {% endif %}
        {% endblock %}
        {% block group_tags %}{#
            <div class="l-cluster">
                <ul class="clean-list">
                    <li>
                        <span class="tag">Accessibility</span>
                    </li>
                    <li>
                        <span class="tag">Privacy</span>
                    </li>
                    <li>
                        <span class="tag">Security</span>
                    </li>
                </ul>
            </div> #}
        {% endblock %}
    </div>
</div>
