<div class="browse">
    <div>
        {% if archives is defined and archives|length > 0 %}
            <div>
                <h2>{{ 'listing.press_releases.filters.archives'|trans({}, 'w3c_website_templates_bundle') }}</h2>
                <button type="button" class="button button--ghost with-icon with-icon--after"
                        style="display:none;" data-toggle="true">
                    {{ 'listing.press_releases.filters.archives'|trans({}, 'w3c_website_templates_bundle') }}
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 320 512" class="icon"
                         focusable="false" aria-hidden="true" width="1em" height="1em">
                        <use class="angle-down" href="/dist/assets/svg/nav-icons.svg#angle-down"></use>
                        <use class="angle-up" href="/dist/assets/svg/nav-icons.svg#angle-up"></use>
                    </svg>
                </button>
                <nav id="archive-nav" aria-label="{{ 'listing.press_releases.filters.archives_label'|trans({}, 'w3c_website_templates_bundle') }}">
                    <ul class="clean-list" role="list">
                        {% for archive in archives %}
                            <li>
                                <a href="{{ archive.url }}">{{ archive.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
</div>
