{% set locale = site.locale|default('en') %}
{% set locale = locale == 'en' ? 'en-GB' : locale %}

{%- macro comment(comment, post, reply_to, rendered_form, comments_open, locale) -%}
    <article id="comment-{{ comment.id }}" class="l-sidebar comment">
        <div>
            <div class="not-sidebar">
                <div class="comment__author">
                    {{ comment.name }} -
                    <time datetime="{{ comment.date|date('c') }}">
                        {{ comment.date|format_datetime('long', locale=locale) }} UTC
                    </time>
                </div>
                <div class="comment__body">
                    {% if post.typeHandle == 'importedEntries' %}
                        <p>{{ comment.comment|raw }}</p>
                    {% else %}
                        <p>{{ comment.comment|nl2br }}</p>
                    {% endif %}
                </div>
                {% if comments_open %}
                    {% if reply_to == comment.id %}
                        {{ _self.comment_form(rendered_form, comments_open) }}
                    {% else %}
                        <a rel="nofollow" href="?replytocom={{ comment.id }}#respond"
                           data-replylink
                           data-commentid="{{ comment.id }}"
                           data-postid="{{ post.id }}"
                           data-belowelement="comment-{{ comment.id }}"
                           data-replyto="{{ 'post.comments.reply_attr'|trans({'name': comment.name}, 'w3c_website_templates_bundle') }}"
                        >
                            {{ 'post.comments.reply'|trans({'name': comment.name}, 'w3c_website_templates_bundle')|raw }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="sidebar comment__img">
                <div class="avatar avatar--med">
                    {% if comment.email %}
                        <img alt="" src="{{ comment.email|avatar('48') }}" loading="lazy">
                    {% else %}
                        <img src="{{ asset('svg/avatar.svg', 'website-2021') }}" width="50" height="50" alt aria-hidden="true"/>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
    {% if comment.children is defined and comment.children|length > 0 %}
        <ul class="clean-list reply-list" role="list">
            {% for child in comment.children %}
                <li>
                    {{ _self.comment(child, post, reply_to, rendered_form, comments_open, locale) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{%- endmacro -%}

{%- macro comment_form(rendered_form, comments_open) -%}
    {% if comments_open %}
        <div id="respond" class="l-box l-box--no-border l-box--no-padding" data-respondelement>
            <div>
                <h3 class="txt-saturn"
                    data-title="reply">{{ 'post.comments.form.title'|trans({}, 'w3c_website_templates_bundle') }}</h3>
            </div>
            <div class="l-sidebar comment-form-wrap">
                <div>
                    <div class="not-sidebar">
                        {{ rendered_form }}
                    </div>
                    <div class="sidebar">
                        <div class="avatar avatar--med">
                            <img src="{{ asset('svg/avatar.svg', 'website-2021') }}" width="50" height="50" alt aria-hidden="true"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{%- endmacro -%}

<section class="comments">
    <div class="l-center">
        <h2 id="comments">{{ 'post.comments.count'|trans({'count': commentsCount}, 'w3c_website_templates_bundle')|raw }}</h2>
        {% if comments|length > 0 %}
            {% if comments_open %}
                <a class="skip-to-comment-form" href="#respond">{{ 'post.comments.skip_to_form'|trans({}, 'w3c_website_templates_bundle') }}</a>
            {% endif %}
            <ol class="clean-list comment-list" role="list">
                {% for comment in comments %}
                <li>
                    {{ _self.comment(comment, post, reply_to, rendered_form, comments_open, locale) }}
                </li>
                {% endfor %}
            </ol>
        {% endif %}
        {% if comments_open %}
            {% if not reply_to %}
                {{ _self.comment_form(rendered_form, comments_open) }}
            {% endif %}
        {% else %}
            <p>{{ 'post.comments.closed'|trans({}, 'w3c_website_templates_bundle') }}</p>
        {% endif %}
    </div>
</section>
