{% if links is empty %}
    {% set links = [
        {
            'copy': 'footer.links.home'|trans({}, 'w3c_website_templates_bundle'),
            'url' : 'footer.links.homeurl'|trans({}, 'w3c_website_templates_bundle')
        },
        {
            'copy': 'footer.links.contact'|trans({}, 'w3c_website_templates_bundle'),
            'url' : 'footer.links.contacturl'|trans({}, 'w3c_website_templates_bundle')
        },
        {
            'copy': 'footer.links.help'|trans({}, 'w3c_website_templates_bundle'),
            'url' : 'footer.links.helpurl'|trans({}, 'w3c_website_templates_bundle')
        },
        {
            'copy': 'footer.links.donate'|trans({}, 'w3c_website_templates_bundle'),
            'url' : 'footer.links.donateurl'|trans({}, 'w3c_website_templates_bundle')
        },
        {
            'copy': 'footer.links.legal'|trans({}, 'w3c_website_templates_bundle'),
            'url' : 'footer.links.legalurl'|trans({}, 'w3c_website_templates_bundle')
        },
        {
            'copy': 'footer.links.corporation'|trans({}, 'w3c_website_templates_bundle'),
            'url' : 'footer.links.corporationurl'|trans({}, 'w3c_website_templates_bundle')
        },
        {
            'copy': 'footer.links.system_status'|trans({}, 'w3c_website_templates_bundle'),
            'url' : 'footer.links.system_statusurl'|trans({}, 'w3c_website_templates_bundle'),
        }
    ] %}
{% endif %}
<footer class="global-footer">
    <div class="l-center">
        <div class="global-footer__links">
            <div class="l-cluster">
                <ul class="clean-list" role="list">
                    {% for link in links %}
                        <li>
                            <a href="{{ link.url }}" hreflang="{{ 'footer.links.hreflang'|trans({}, 'w3c_website_templates_bundle') }}">
                                {{ link.copy|raw }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="clean-list" role="list">
                <li><a class="with-icon--larger" href="https://w3c.social/@w3c" hreflang="en">
                        <img class="icon icon--larger" src="{{ asset('svg/mastodon.svg', 'website-2021') }}" width="20"
                             height="20" alt aria-hidden="true" loading="lazy"/>
                        <span class="visuallyhidden">{{ 'footer.links.mastodon'|trans({}, 'w3c_website_templates_bundle')|raw }}</span></a>
                </li>
                <li><a class="with-icon--larger" href="https://github.com/w3c/" hreflang="en">
                        <img class="icon icon--larger" src="{{ asset('svg/github.svg', 'website-2021') }}" width="20"
                             height="20" alt aria-hidden="true" loading="lazy"/>
                        <span class="visuallyhidden">{{ 'footer.links.github'|trans({}, 'w3c_website_templates_bundle')|raw }}</span></a>
                </li>
            </ul>
        </div>
        <p class="copyright">{{ 'footer.copyright'|trans({'date': date('now')}, 'w3c_website_templates_bundle')|raw }}</p>
    </div>
</footer>
