<nav id="global-nav" aria-label="Main">
    <div class="global-nav__inner l-center">
        {# {% set siteLang %}{% block homepage_hreflang %}en{% endblock %}{% endset %} #}
        {% set siteLang = site.locale|default('en')|trans %}
        <a class="logo-link" href="{% block homepage_link %}/{% endblock %}" hreflang="{{ siteLang }}">
            <span class="logo">
                <img src="{{ absolute_url(asset('w3c/w3c-no-bars.svg', 'logos')) }}" alt="{{ 'header.logo_alt'|trans({}, 'w3c_website_templates_bundle') }}" role="img"/>
            </span>
            <span class="visuallyhidden">{{ 'header.logo_link'|trans({}, 'w3c_website_templates_bundle') }}</span>
        </a>
        <button type="button" class="button button--ghost with-icon--after with-icon--larger" data-trigger="mobile-nav"
                style="display: none;"></button>
        <ul data-component="nav-double-intro">
            {%~ for navItem in navigation %}
                <li class="top-nav-item has-children">
                        {% if navItem.targetLinkLanguage is not empty %}
                            {% set targetLangLabel = '' %}
                            {% set langDiff = false %}
                            {% if navItem.targetLinkLanguage is not same as siteLang %}
                                {% set langDiff = true %}

                                {% if navItem.targetLinkLanguage == 'zh-Hans' %}
                                    {% set targetLangLabel = "Chinese" %}
                                {% else %}
                                    {% set targetLangLabel = "English" %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    <a href="{{ navItem.titleLink }}" class="nav-link"{% if langDiff is defined and langDiff %} hreflang="{{ navItem.targetLinkLanguage }}"{% endif %}>
                        {{ navItem.title }}
                        {% if navItem.targetLinkLanguage is not empty %}
                            {{ (langDiff is defined and langDiff) ? '(' ~ targetLangLabel ~ ')' : '' }}
                        {% endif %}
                    </a>
                    <div class="nav__submenu" data-nav="submenu" style="display: none;">
                        <div class="l-center">
                            <div class="nav__submenu__intro">
                                <h2 class="nav__submenu__intro__heading">{{ navItem.title }}</h2>
                                <div class="nav__submenu__intro__text">
                                    {%~ if navItem.introText is defined and navItem.introText %}
                                        <p>{{ navItem.introText }}</p>
                                    {%~ endif %}
                                    {%~ for introLink in navItem.introLinks %}
                                        <a href="{{ introLink.url }}">{{ introLink.title }}</a>
                                    {%~ endfor %}
                                </div>
                            </div>
                            {% if navItem.children is defined and navItem.children|length > 0 -%}
                                <ul>
                                    {%~ for child in navItem.children %}
                                        <li{{ child.startNewColumn is defined and child.startNewColumn ? ' class="break-after"' : '' }}>{# -#}

                                            {% if child.targetLinkLanguage is not empty %}
                                                {% set childLangDiff = siteLang != child.targetLinkLanguage %}
                                                {% set targetLangLabel = '' %}

                                                {% if childLangDiff == true %}
                                                    {% if child.targetLinkLanguage == 'zh-Hans' %}
                                                        {% set targetLangLabel = "Chinese" %}
                                                    {% else %}
                                                        {% set targetLangLabel = "English" %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}

                                            <a href="{{ child.url }}"{% if childLangDiff is defined and childLangDiff == true %} hreflang="{{ child.targetLinkLanguage }}{% endif %}">
                                                {{ child.title }}
                                                {% if child.targetLinkLanguage is not empty %}
                                                    {{ (childLangDiff is defined and childLangDiff) ? '(' ~ targetLangLabel ~ ')' : '' }}
                                                {% endif %}
                                            </a>{# -#}
                                        </li>
                                    {%~ endfor %}
                                </ul>
                            {%~ endif %}
                        </div>
                    </div>
                </li>
            {%~ endfor %}
            <li class="top-nav-item">
                {% set locale = site.locale|default('en') %}
                {% if locale == 'zh-hans' or locale == 'ja' %}
                    {% set search_url = 'https://www.w3.org/' ~ locale ~ '/help/search/' %}
                {% else %}
                    {% set search_url = 'https://www.w3.org/help/search/' %}
                {% endif %}
                <a hreflang="en" href="{{ search_url }}" class="nav-link icon-link">
                    <img class="icon" src="{{ absolute_url(asset('svg/search.svg', 'website-2021')) }}" width="24" height="24" alt aria-hidden="true">{# -#}
	                <span class="hide-at-max-width">{{ 'header.search_link'|trans({}, 'w3c_website_templates_bundle') }}</span>
                </a>
            </li>
            <li class="top-nav-item">
                <a hreflang="en" href="https://www.w3.org/users/myprofile/" id="account-login-link" class="account-login icon-link with-icon--after">
                    {{ 'header.account_link'|trans({}, 'w3c_website_templates_bundle') }}
                    <span class="avatar avatar--small icon">{# -#}
                        <img src="{{ absolute_url(asset('svg/avatar.svg', 'website-2021')) }}" width="24" height="24" alt aria-hidden="true"/>{# -#}
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
