<div class="u-full-width hero">
    <div class="l-center">
        <div class="l-sidebar">
            <div>
                <div class="not-sidebar">
                    <h1>{% block title %}{{ page.title|default('W3C') }}{% endblock %}</h1>
                    {% block heroLead %}
                        {% if page.localized is defined and page.localized|length > 0 %}
                            {{ include('@W3CWebsiteTemplates/components/styles/page_translations--hero.html.twig') }}
                        {% endif %}
                        <p class="lead">{{ page.pageLead|raw }}</p>
                    {% endblock %}
                </div>
                {% if page.heroVideo is defined and page.heroVideo %}
                    <div class="sidebar">
                        <div class="l-frame l-frame--16-9">
                            <video controls loop muted playsinline preload="metadata" data-video="hero">
                                <source src="{{ page.heroVideo[0].url }}" type="video/mp4">
                                Sorry, your browser does not support embedded videos. This is an animation of the W3C logo morphing into a new design.
                            </video>
                        </div>
                        <button class="button button--ghost" data-video-control="hero" hidden>
                            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 47 47" height="45" width="45" aria-hidden="true" focusable="false">
                                <defs/>
                                <g fill="none" fill-rule="evenodd">
                                    <path fill="#1E3773" fill-rule="nonzero" stroke="#FFF" stroke-opacity=".8" stroke-width="3.75" d="M23.914 2.818a21.222 21.222 0 0114.937 6.108c3.813 3.762 6.173 8.956 6.173 14.695 0 4.204-1.286 8.201-3.555 11.55a21.036 21.036 0 01-9.48 7.668 21.405 21.405 0 01-12.222 1.183 21.205 21.205 0 01-10.82-5.706 20.685 20.685 0 01-5.77-10.65 20.489 20.489 0 011.206-12.008 20.855 20.855 0 017.78-9.335 21.335 21.335 0 0111.751-3.505z" opacity=".8"/>
                                    <path class="play-icon" fill="#FFF" fill-rule="nonzero" d="M20.065 31.18l12.748-7.57-12.748-7.548z"/>
                                    <path class="pause-icon" fill="#FFF" d="M26.232 16.062h5v15h-5zM16.232 16.062h5v15h-5z"/>
                                </g>
                            </svg>
                            <span class="visuallyhidden">Play</span>
                        </button>
                    </div>
                {% elseif page.heroIllustration is defined and page.heroIllustration %}
                    <div class="sidebar">
                        <img src="{{ page.heroIllustration.url }}" alt/>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
