{%- macro notes(type, title, notes) -%}
    {% if (notes|length > 0) %}
        <div class="l-box note note--{{ type }}" role="{{ type == 'error' ? 'alert' : 'status' }}" aria-labelledby="{{ type }}-summary-title" tabindex="-1"
             data-component="{{ type }}-summary" data-anchor="no">
            <h2 id="{{ type }}-summary-title" class="txt-saturn">{{ title }}</h2>
            <ul class="clean-list" role="list">
                {% for note in notes %}
                    <li>
                        {% if note.options.href is defined %}
                            <a href="{{ note.options.href }}">{{ note.message|trans()|raw }}</a>
                        {% else %}
                            {{ note.message|trans()|raw }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro info(messages, title = null) %}
    {% if title == null %}
        {% set title = 'notes.info.default_title'|trans({}, 'w3c_website_templates_bundle') %}
    {% endif %}
    {{ _self.notes('info', title, messages) }}
{% endmacro %}

{% macro successes(messages, title = null) %}
    {% if title == null %}
        {% set title = 'notes.successes.default_title'|trans({}, 'w3c_website_templates_bundle') %}
    {% endif %}
    {{ _self.notes('success', title, messages) }}
{% endmacro %}

{% macro warnings(messages, title = null) %}
    {% if title == null %}
        {% set title = 'notes.warnings.default_title'|trans({}, 'w3c_website_templates_bundle') %}
    {% endif %}
    {{ _self.notes('warning', title, messages) }}
{% endmacro %}

{% macro errors(messages, title = null) %}
    {% if title == null %}
        {% set title = 'notes.errors.default_title'|trans({}, 'w3c_website_templates_bundle') %}
    {% endif %}
    {{ _self.notes('error', title, messages) }}
{% endmacro %}
