<section class="l-box l-box--no-border translations">
    <div class="l-sidebar">
        <div>
            <div class="sidebar">
                <h2>{{ 'page.translations'|trans({}, 'w3c_website_templates_bundle') }}</h2>
            </div>
            <div class="not-sidebar">
                <div class="l-cluster">
                    <ul class="clean-list">
                        {% for translation in page.localized %}
                            <li>
                                <a href="{{ translation.url }}"
                                   hreflang="{{ translation.language_code }}"
                                   lang="{{ translation.language_code }}"
                                   dir="auto"
                                >
                                    {{ translation.language_code|replace({'-': '_'})|language_name(translation.language_code) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
