<nav aria-label="pagination" class="l-cluster pagination">
    <ul class="pagination__list">
        {% if pagination.page > 1 %}
            <li>
                <a class="pagination__list__first" href="{{ path(app.request.attributes.get('_route'), app.request.attributes) }}">
                    <span aria-hidden="true">&lt;&lt;</span><span class="visuallyhidden">
                        {{ 'pagination.first'|trans({}, 'w3c_website_templates_bundle') }}
                    </span>
                </a>
            </li>
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: pagination.page - 1})) }}">
                    {{ 'pagination.previous'|trans({}, 'w3c_website_templates_bundle')|raw }}
                </a>
            </li>
        {% endif %}
        {% for pagination_page in 1..min(5, pagination.totalPages) %}
            <li>
            {% if pagination_page == pagination.page %}
                <a href="#" aria-label="page {{ pagination_page }}" aria-current="page">
                    {{ 'pagination.current_page'|trans({'page': pagination_page}, 'w3c_website_templates_bundle')|raw }}
                </a>
            {% else %}
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: pagination_page})) }}">
                    {{ 'pagination.page'|trans({'page': pagination_page}, 'w3c_website_templates_bundle')|raw }}
                </a>
            {% endif %}
            </li>
            <li></li>
        {% endfor %}
        {% if pagination.totalPages > 6 %}
            <li><a class="ellipsis">&#8230;</a></li>
        {% endif %}
        {% if pagination.totalPages > 5 %}
            <li>
                {% if pagination.totalPages == pagination.page %}
                    <a href="#" aria-label="page {{ pagination.totalPages }}" aria-current="page">
                        {{ 'pagination.current_page'|trans({'page': pagination.totalPages}, 'w3c_website_templates_bundle')|raw }}
                    </a>
                {% else %}
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: pagination.totalPages})) }}">
                        {{ 'pagination.page'|trans({'page': pagination.totalPages}, 'w3c_website_templates_bundle')|raw }}
                    </a>
                {% endif %}
            </li>
        {% endif %}
        {% if pagination.page < pagination.totalPages %}
            <li>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: pagination.page + 1})) }}">
                    {{ 'pagination.next'|trans({}, 'w3c_website_templates_bundle')|raw }}
                </a>
            </li>
            <li>
                <a class="pagination__list__last" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: pagination.totalPages})) }}">
                    <span aria-hidden="true">&gt;&gt;</span><span class="visuallyhidden">
                        {{ 'pagination.last'|trans({}, 'w3c_website_templates_bundle') }}
                    </span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
