{% if pagination is defined and pagination.totalPages > 1 %}
    {% set route = app.request.attributes.get('_route') %}
    {% set query = app.request.attributes.get('_route_params')|merge(app.request.query) %}

    <nav class="l-cluster pagination" aria-labelledby="pagination">
        <h2 id="pagination" class="visuallyhidden">{{ pagination.label }}</h2>
        <ul class="pagination__list">
            {% if not pagination.firstPage %}
                <li>
                    <a rel="prev" href="{{ path(route, query|merge({page: pagination.previous})) }}">
                        Previous
                    </a>
                </li>
            {% endif %}

            {% if pagination.first not in pagination.pageLinks %}
                <li>
                    <a class="pagination__list__first"
                       href="{{ path(route, query|merge({page: pagination.first})) }}">
                        {{ pagination.first }}
                    </a>
                </li>

                <li><a class="ellipsis">&#8230;</a></li>
            {% endif %}

            {% for page in pagination.pageLinks %}
                {% if page != pagination.page %}
                    <li>
                        <a href="{{ path(route, query|merge({page: page})) }}">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path(route, query|merge({page: page})) }}" aria-current="page">{{ page }}</a>
                    </li>
                {% endif %}
            {% endfor %}


            {% if pagination.last not in pagination.pageLinks %}
                <li><a class="ellipsis">&#8230;</a></li>
                <li>
                    <a class="pagination__list__last"
                       href="{{ path(route, query|merge({page: pagination.last})) }}">
                        {{ pagination.last }}
                    </a>
                </li>
            {% endif %}

            {% if not pagination.lastPage %}
                <li>
                    <a rel="next" href="{{ path(route, query|merge({page: pagination.next})) }}">
                        Next
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
