<div class="card card--event {{ entry|event_type }}" data-component="card">
    <div class="card__text">
        <h3 class="card__heading">
            <a class="card__link" href="{{ entry.url }}">{{ entry.title }}</a>
        </h3>
        <p class="txt-pluto with-icon--before">
            <img class="icon" src="{{ asset('svg/calendar.svg', 'main') }}" width="18px" height="20px" alt role="img" aria-hidden="true"/>
            <time datetime="{{ entry.start|date('c') }}">
                {{ entry|date_range(site.locale) }}
            </time>
        </p>
        <p class="txt-pluto">{{ entry.type.title }}</p>
    </div>
</div>
