<div class="card card--event {{ entry|event_type }}" data-component="card">
    <div class="card__text">
        <h3 class="card__heading">
            <a class="card__link" href="{{ entry.url|absolute_url(app.request.locale) }}">{{ entry.title }}</a>
        </h3>
        <p class="txt-pluto with-icon--before">
            <img class="icon" src="{{ asset('svg/calendar.svg', 'main') }}" width="18px" height="20px" alt role="img" aria-hidden="true"/>
            <time datetime="2021-01-28T18:00Z">28 January 2021, 18:00 - 19:30 UTC</time>
        </p>
        <p class="txt-pluto">{{ entry.type.title }}</p>
    </div>
</div>