<div class="l-sidebar">
    <div>
        <div class="not-sidebar">
            <div>
                <h2 class="txt-mars"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>
                <div class="l-cluster">
                    <div>
                        {% if entry.date %}
                            <div>
                                <p>
                                    <span class="visuallyhidden">{{ 'post.meta.published'|trans([], 'w3c_website_templates_bundle') }}</span>
                                    <time datetime="{{ entry.date|date('Y-m-d') }}">{{ entry.date|date('d F Y') }}</time>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <p>{{ entry.excerpt }}</p>
            </div>
        </div>
        {% if entry.thumbnailImage %}
            <div class="sidebar">
                <a href="{{ entry.url }}" class="l-frame" aria-hidden="true" tabindex="-1">
                    <img
                            src="{{ entry.thumbnailImage.url }}"
                            srcset="{{ entry.thumbnailImage.srcset }}"
                            loading="lazy"
                            {% if entry.thumbnailAltText %}
                                alt="{{ entry.thumbnailAltText }}"
                            {% else %}
                                alt=""
                            {% endif %}
                    />
                </a>
            </div>
        {% endif %}
    </div>
</div>
