<div class="l-sidebar search">
    <form role="search" novalidate>
        <div class="not-sidebar">
            <h2 class="visuallyhidden">{{ 'listing.news.filters.search'|trans({}, 'w3c_website_templates_bundle') }}</h2>
            <input type="search" id="search" name="search"
                   aria-label="{{ 'listing.news.filters.search'|trans({}, 'w3c_website_templates_bundle') }}"
                   value="{{ search }}"
            >
        </div>
        <div class="sidebar">
            <button type="submit" class="button">
                {{ 'listing.news.filters.search_button'|trans({}, 'w3c_website_templates_bundle') }}
            </button>
        </div>
    </form>
</div>
<div class="browse">
    <div>
        {% if archives is defined and archives|length > 0 %}
            <div>
                <h2>{{ 'listing.news.filters.archives'|trans({}, 'w3c_website_templates_bundle') }}</h2>
                <button type="button" class="button button--ghost with-icon with-icon--after"
                        style="display:none;" data-toggle="true">
                    {{ 'listing.news.filters.archives'|trans({}, 'w3c_website_templates_bundle') }}
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 320 512" class="icon icon--no-width"
                         focusable="false" aria-hidden="true" width="1em" height="1em">
                        <path class="angle-down" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/>
                        <path class="angle-up" d="M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"/>
                    </svg>
                </button>
                <nav id="archive-nav" aria-label="{{ 'listing.news.filters.archives_label'|trans({}, 'w3c_website_templates_bundle') }}">
                    <ul class="clean-list" role="list">
                        {% for archive in archives %}
                            <li>
                                <a href="{{ archive.url }}">{{ archive.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
</div>
