<!doctype html>
<html dir="{% block lang_dir %}{{ 'lang.dir'|trans({}, 'w3c_website_templates_bundle') }}{% endblock %}"
      lang="{% block lang %}{{ 'lang.code'|trans({}, 'w3c_website_templates_bundle') }}{% endblock %}" class="no-js">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}World Wide Web Consortium (W3C){% endblock %}</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta property="og:description" name="description"
          content="{{ 'w3c.description'|trans({}, 'w3c_website_templates_bundle') }}"/>
    
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/core.css?ver=1.1.27', 'main') }}"
              media="screen"/>

        <!--
        CSS Mustard Cut
        Print (Edge doesn't apply to print otherwise)
        Edge, Chrome 39+, Opera 26+, Safari 9+, iOS 9+, Android ~5+, Android UCBrowser ~11.8+
        FF 47+
        -->
        <link rel="stylesheet" id="advanced-stylesheet"
              href="{{ asset('styles/advanced.css?ver=1.1.27', 'main') }}" media="
            only print,
            only all and (pointer: fine), only all and (pointer: coarse), only all and (pointer: none),
            only all and (min--moz-device-pixel-ratio:0) and (display-mode:browser), (min--moz-device-pixel-ratio:0) and (display-mode:fullscreen)
        ">
    {% endblock stylesheets %}

    {% block javascripts %}
        <script src="{{ asset('js/libraries/fontfaceobserver.js', 'main') }}"></script>

        <script>
            var myFont = new FontFaceObserver('Noto Sans');

            Promise.all([myFont.load()]).then(function () {
                document.documentElement.className += " fonts-loaded";
            });
        </script>

        <script>
            (function () {
                var linkEl = document.getElementById('advanced-stylesheet');
                if (window.matchMedia && window.matchMedia(linkEl.media).matches) {
                    var script = document.createElement('script');
                    script.src = '{{ asset('js/main.js?ver=1.1.27', 'main') }}';
                    script.defer = true;
                    document.querySelector('head').appendChild(script);
                    (function (H) {
                        H.className = H.className.replace(/\bno-js\b/, 'js')
                    })(document.documentElement);
                }
            })();
        </script>
    {% endblock javascripts %}
</head>

<body class="default">
<a class="skip-link" href="#main">Skip to content</a>
<div class="grid-wrap">
    <div class="wrap">
        <header class="global-header">
            <span role="status" aria-live="polite"></span>
            {% block banner %}
                {% include '@W3CWebsiteTemplates/components/banner.html.twig' %}
            {% endblock banner %}
            {% block lang_nav %}
                {% include '@W3CWebsiteTemplates/components/lang_nav.html.twig' %}
            {% endblock lang_nav %}
            {% block global_nav %}
                {% include '@W3CWebsiteTemplates/components/global_nav.html.twig' %}
            {% endblock global_nav %}
        </header>
        {% block breadcrumbs %}
            {% if breadcrumbs is defined %}
                {% include '@W3CWebsiteTemplates/components/breadcrumbs.html.twig' %}
            {% endif %}
        {% endblock breadcrumbs %}
        <main id="main">
            <div class="content">
                <article>
                    <h1>{{ block('title') }}</h1>
                    {% block body %}
                        <div class="component component--text">
                            <p>The W3C mission is to lead the World Wide Web to its full potential by developing protocols
                                and guidelines that ensure the long-term growth of the Web. Below we discuss important
                                aspects of this mission, all of which further W3C's vision of <strong>One Web</strong>.</p>
                            <h2 id="open-standards-principles">Open Standards Principles</h2>
                            <p>On 29 August 2012 five leading global organizations jointly signed an agreement to affirm and
                                adhere to a set of Principles in support of The Modern Paradigm for Standards; an open and
                                collectively empowering model that will help radically improve the way people around the
                                world develop new technologies and innovate for humanity. Learn more about <a
                                        href="https://open-stand.org/about-us/principles/">OpenStand: the modern paradigm
                                    for standards</a>.</p>
                            <h2 id="design-principles">Design Principles</h2>
                            <p>The following design principles guide W3C's work.</p>
                            <h3>Web for All</h3>
                            <p>The social value of the Web is that it enables human communication, commerce, and
                                opportunities to share knowledge. One of W3C's primary goals is to make these benefits
                                available to all people, whatever their hardware, software, network infrastructure, native
                                language, culture, geographical location, or physical or mental ability. Learn more
                                about:</p>
                            <ul>
                                <li><a href="../page.html">Web Accessibility Initiative</a></li>
                                <li><a href="../page.html">Internationalization</a></li>
                            </ul>
                            <h3>Web on Everything</h3>
                            <p>The number of different kinds of devices that can access the Web has grown immensely. Mobile
                                phones, smart phones, personal digital assistants, interactive television systems, voice
                                response systems, kiosks and even certain domestic appliances can all access the Web. Learn
                                more about:</p>
                            <ul>
                                <li><a href="../page.html">Web of Devices</a></li>
                                <li><a href="../page.html">Mobile Web Initiative</a></li>
                                <li><a href="../page.html">Browsers and Other Agents</a></li>
                                <li><a href="../page.html" class="archived with-icon--before">
                                        <svg role="img" class="icon" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 512 512" width="1em" height="1em"><title>Archived content</title>
                                            <defs/>
                                            <path aria-hidden="true"
                                                  d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.705-82.311-184-184-184-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z"/>
                                        </svg>
                                        Example of archived content link</a></li>
                            </ul>
                        </div>
                        <figure class="component component--image">
                            <div class="l-frame l-frame--16-9">
                                <img src="https://w3c-dev.studio24.devimages/temp-developers-920.jpg"
                                     srcset="{{ asset('images/temp-developers-360.jpg', 'main') }} 360w, {{ asset('images/temp-developers-580.jpg', 'main') }} 580w, {{ asset('images/temp-developers-920.jpg', 'main') }} 920w, {{ asset('images/temp-developers-1520.jpg', 'main') }} 1520w"
                                     sizes="100vw"
                                     loading="lazy"
                                     alt="A Macbook screen with code, as seen from over the developer's shoulder"/>
                            </div>
                            <figcaption><p>The figcaption is not a replacement for the image's <code>alt</code> attribute.
                                    It should be used for providing relevant supporting content.</p></figcaption>
                        </figure>
                        <div class="component component--text">
                            <h2 id="vision">Vision</h2>
                            <p>W3C's vision for the Web involves participation, sharing knowledge, and thereby building
                                trust on a global scale.</p>
                            <h3>Web for Rich Interaction</h3>
                            <p>The Web was invented as a communications tool intended to allow anyone, anywhere to share
                                information. For many years, the Web was a "read-only" tool for many. Blogs and wikis
                                brought more authors to the Web, and social networking emerged from the flourishing market
                                for content and personalized Web experiences. W3C standards have supported this evolution
                                thanks to strong architecture and design principles. Learn more about:</p>
                            <ul>
                                <li><a href="../page.html">Web Design and Applications</a></li>
                                <li><a href="../page.html">Web Architecture</a></li>
                            </ul>
                            <h3>Web of Data and Services</h3>
                            <p>Some people view the Web as a giant repository of linked data while others as a giant set of
                                services that exchange messages. The two views are complementary, and which to use often
                                depends on the application. Learn more about:</p>
                            <ul>
                                <li><a href="../page.html">Essential XML Technologies</a></li>
                                <li><a href="../page.html">Semantic Web</a></li>
                                <li><a href="../page.html">Web of Services</a></li>
                            </ul>
                            <h3>Web of Trust</h3>
                            <p>The Web has transformed the way we communicate with each other. In doing so, it has also
                                modified the nature of our social relationships. People now "meet on the Web" and carry out
                                commercial and personal relationships, in some cases without ever meeting in person. W3C
                                recognizes that trust is a social phenomenon, but technology design can foster trust and
                                confidence. As more activity moves on-line, it will become even more important to support
                                complex interactions among parties around the globe. Learn more about:</p>
                            <ul>
                                <li><a href="../page.html">Semantic Web</a></li>
                                <li><a href="../page.html">XML Security</a>, <a href="../page.html">Web of Services
                                        Security</a></li>
                                <li><a href="../page.html">Privacy</a></li>
                            </ul>
                        </div>
                        <figure class="component component--video">
                            <div class="l-frame l-frame--16-9">
                                <iframe title="Video title" loading="lazy" width="560" height="315"
                                        src="https://www.youtube-nocookie.com/embed/sw-j75MQtQU"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                            <figcaption><p>Note: embed code from Vimeo/YouTube does not include the <code>title</code>
                                    attribute, but this is a WCAG requirement so needs to be added manually.</p>
                                <a href="../page.html">Download video transcript</a></figcaption>
                        </figure>
                        <figure class="component component--quote">
                            <blockquote>
                                <p>The goal of the Web is to serve humanity. We build it now so that those who come to it
                                    later will be able to create things we cannot ourselves imagine.</p>
                            </blockquote>
                            <figcaption>Sir Tim Berners-Lee</figcaption>
                        </figure>
                        <div class="component component--text">
                            <div class="table-wrap" role="region" aria-labelledby="unique-caption-id" tabindex="0">
                                <table>
                                    <caption id="unique-caption-id" class="txt-mars bold">Members of the Spice Girls
                                    </caption>
                                    <thead>
                                    <tr>
                                        <th scope="col">First name</th>
                                        <th scope="col">Last name</th>
                                        <th scope="col">Band name</th>
                                        <th scope="col">Date of birth</th>
                                        <th scope="col">Place of birth</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Emma</td>
                                        <td>Bunton</td>
                                        <td>Baby</td>
                                        <td>21 January 1976</td>
                                        <td>Watford</td>
                                    </tr>
                                    <tr>
                                        <td>Geri</td>
                                        <td>Halliwell</td>
                                        <td>Ginger</td>
                                        <td>6 August 1972</td>
                                        <td>London</td>
                                    </tr>
                                    <tr>
                                        <td>Victoria</td>
                                        <td>Beckham</td>
                                        <td>Posh</td>
                                        <td>17 April 1974</td>
                                        <td>Harlow</td>
                                    </tr>
                                    <tr>
                                        <td>Melanie</td>
                                        <td>Brown</td>
                                        <td>Scary</td>
                                        <td>29 May 1975</td>
                                        <td>Leeds</td>
                                    </tr>
                                    <tr>
                                        <td>Melanie</td>
                                        <td>Chisholm</td>
                                        <td>Sporty</td>
                                        <td>12 January 1974</td>
                                        <td>Whiston</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="component component--text">
                            <h2>Example of a heading 2 followed by a numbered list</h2>
                            <p>The social value of the Web is that it enables human communication, commerce, and
                                opportunities to share knowledge. One of W3C's primary goals is to make these benefits
                                available to all people, whatever their hardware, software, network infrastructure, native
                                language, culture, geographical location, or physical or mental ability.</p>
                            <p>The number of different kinds of devices that can access the Web has grown immensely. Mobile
                                phones, smart phones, personal digital assistants, interactive television systems, voice
                                response systems, kiosks and even certain domestic appliances can all access the Web.</p>
                            <ol role="list">
                                <li>First item
                                    <ol role="list">
                                        <li>First sub item</li>
                                        <li>Second sub item</li>
                                    </ol>
                                </li>
                                <li>Second item</li>
                                <li>Third item</li>
                                <li><a href="../page.html" class="archived with-icon--before">
                                        <svg role="img" class="icon" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="0 0 512 512" width="1em" height="1em"><title>Archived content</title>
                                            <defs/>
                                            <path aria-hidden="true"
                                                  d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.705-82.311-184-184-184-48.814 0-93.149 18.969-126.068 49.932l50.754 50.754c10.08 10.08 2.941 27.314-11.313 27.314H24c-8.837 0-16-7.163-16-16V38.627c0-14.254 17.234-21.393 27.314-11.314l49.372 49.372C129.209 34.136 189.552 8 256 8c136.81 0 247.747 110.78 248 247.531zm-180.912 78.784l9.823-12.63c8.138-10.463 6.253-25.542-4.21-33.679L288 256.349V152c0-13.255-10.745-24-24-24h-16c-13.255 0-24 10.745-24 24v135.651l65.409 50.874c10.463 8.137 25.541 6.253 33.679-4.21z"/>
                                        </svg>
                                        Another example of archived content link</a></li>
                            </ol>
                            <h3>Heading 3 example</h3>
                            <p>The social value of the Web is that it enables human communication, commerce, and
                                opportunities to share knowledge. One of W3C's primary goals is to make these benefits
                                available to all people, whatever their hardware, software, network infrastructure, native
                                language, culture, geographical location, or physical or mental ability.</p>
                            <p>The number of different kinds of devices that can access the Web has grown immensely. Mobile
                                phones, smart phones, personal digital assistants, interactive television systems, voice
                                response systems, kiosks and even certain domestic appliances can all access the Web.</p>
                            <h4>Heading 4 example</h4>
                            <p>The social value of the Web is that it enables human communication, commerce, and
                                opportunities to share knowledge. One of W3C's primary goals is to make these benefits
                                available to all people, whatever their hardware, software, network infrastructure, native
                                language, culture, geographical location, or physical or mental ability.</p>
                            <p>The number of different kinds of devices that can access the Web has grown immensely. Mobile
                                phones, smart phones, personal digital assistants, interactive television systems, voice
                                response systems, kiosks and even certain domestic appliances can all access the Web.</p>
                            <h5>Heading 5 example</h5>
                            <p>The social value of the Web is that it enables human communication, commerce, and
                                opportunities to share knowledge. One of W3C's primary goals is to make these benefits
                                available to all people, whatever their hardware, software, network infrastructure, native
                                language, culture, geographical location, or physical or mental ability.</p>
                            <p>The number of different kinds of devices that can access the Web has grown immensely. Mobile
                                phones, smart phones, personal digital assistants, interactive television systems, voice
                                response systems, kiosks and even certain domestic appliances can all access the Web.</p>
                            <h6>Heading 6 example</h6>
                            <p>The social value of the Web is that it enables human communication, commerce, and
                                opportunities to share knowledge. One of W3C's primary goals is to make these benefits
                                available to all people, whatever their hardware, software, network infrastructure, native
                                language, culture, geographical location, or physical or mental ability.</p>
                            <p>The number of different kinds of devices that can access the Web has grown immensely. Mobile
                                phones, smart phones, personal digital assistants, interactive television systems, voice
                                response systems, kiosks and even certain domestic appliances can all access the Web.</p>
                        </div>
                        <div class="component component--text">
                            <h2>Examples of buttons and button links</h2>
                            <button type="button" class="button">Button</button>
                            <a href="../page.html" class="button">Link styled as button</a>
                            <a href="../page.html" class="button button--alt">Link styled with the button--alt class</a>
                            <a href="../page.html" class="button button--ghost">Link styled with the button--ghost class</a>
                            <h3>Disabled button</h3>
                            <button type="button" class="button" disabled>This button is disabled</button>
                        </div>
                        <div class="component component--text">
                            <h2>Examples of other HTML elements</h2>
                            <h3>Code snippets</h3>
                            <p>Demonstrating the appearance of <code>&lt;code&gt;</code> and <code>&lt;pre&gt;</code>:</p>
                            <pre>body {
        color: red;
    }</pre>
                            <h3>Abbreviations and definitions</h3>
                            <p>You can use <code>&lt;abbr&gt;</code> in tandem with <code>&lt;dfn&gt;</code> to more
                                formally define an abbreviation, as shown here:</p>
                            <p><dfn id="html"><abbr title="HyperText Markup Language">HTML</abbr></dfn> is a markup language
                                used to create the semantics and structure of a web page.</p>

                            <p>A <dfn id="spec">Specification</dfn> (<abbr title="Specification">spec</abbr>) is a document
                                that outlines in detail how a technology or API is intended to function and how it is
                                accessed.</p>
                            <h3>Emphasis and strong</h3>
                            <p>Demonstrating the use of <em>emphasis</em> and <strong>strong</strong> for text.</p>
                            <h3>Small text</h3>
                            <p>Demonstrating the use of <small>small</small> for text.</p>
                            <p class="small">The <code>.small</code> class is also available.</p>
                        </div>
                    {% endblock body %}
                </article>
                {% block related %}
                    {% if related_links is defined %}
                        {% include '@W3CWebsiteTemplates/components/related.html.twig' %}
                    {% endif %}
                {% endblock %}
            </div>
        </main>
        {% block crosslinks %}
            {% include '@W3CWebsiteTemplates/components/crosslinks.html.twig' %}
        {% endblock crosslinks %}
    </div>
    {% block footer %}
        <footer class="global-footer">
            <div class="l-center">
                <div class="global-footer__links">
                    <div class="l-cluster">
                        <ul class="clean-list" role="list">
                            <li><a href="../page.html">Home</a></li>
                            <li><a href="../page.html">Contact</a></li>
                            <li><a href="../page.html">Help</a></li>
                            <li><a href="../page.html">Sponsor and donate</a></li>
                            <li><a href="../page.html">Privacy policy</a></li>
                            <li><a href="../page.html">Legal</a></li>
                            <li><a href="../page.html">System status</a></li>
                        </ul>
                    </div>
                    <ul class="clean-list" role="list">
                        <li><a class="with-icon--larger" href="https://twitter.com/W3C">
                                <img class="icon icon--larger" src="{{ asset('svg/twitter.svg') }}" width="20" height="20" alt
                                     aria-hidden="true"/>
                                <span class="visuallyhidden">W3C on Twitter</span></a>
                        </li>
                        <li><a class="with-icon--larger" href="https://github.com/w3c/">
                                <img class="icon icon--larger" src="{{ asset('svg/github.svg', 'main') }}" width="20" height="20" alt
                                     aria-hidden="true"/>
                                <span class="visuallyhidden">W3C on GitHub</span></a>
                        </li>
                    </ul>
                </div>
                <p class="copyright">Copyright © {{ 'now'|date('Y')}} W3C <sup>®</sup> (<a href="https://www.csail.mit.edu/"><abbr
                                title="Massachusetts Institute of Technology">MIT</abbr></a>, <a
                            href="https://www.ercim.eu/"><abbr
                                title="European Research Consortium for Informatics and Mathematics">ERCIM</abbr></a>,
                    <a href="https://www.keio.ac.jp/">Keio</a>, <a href="https://ev.buaa.edu.cn/">Beihang</a>) <a
                            href="/Consortium/Legal/ipr-notice">Usage policies apply</a>.</p>
            </div>
        </footer>
    {% endblock %}
</div>

</body>

</html>
