<div class="component component--columns component--columns--icons">
	{% if title is defined and title or summary is defined and summary %}
	<div class="component--columns__intro">
		{% if title is defined and title %}
		<h2>{{ title }}</h2>
		{% endif %}
		{% if summary is defined and summary %}
		<p>{{ summary }}</p>
		{% endif %}
	</div>
	{% endif %}
	{% if cards is defined and cards|length > 0 %}
	<ul class="clean-list" role="presentation">
		{% for card in cards %}
			<li>
				<div class="card">
					{% if card.heading is defined and card.heading or card.description is defined and card.description %}
					<div class="card__text">
						{% if card.heading is defined and card.heading and title is defined and title %}
							<h3 class="card__heading">{{ card.heading }}</h3>
						{% elseif card.heading is defined and card.heading %}
							<h2 class="card__heading">{{ card.heading }}</h2>
						{% endif %}
						{{ card.description|raw }}
						{% if card.linkDestination is defined and card.linkDestination %}
							<a href="{{ card.linkDestination }}"><span class="visuallyhidden">{{ card.heading|trans({}) }}</span> {{ 'components.icon_card.link_text'|trans({}, 'w3c_website_templates_bundle') }}</a>
						{% endif %}
					</div>
					{% endif %}
					{% if card.icon is defined and card.icon %}
						{{ card.icon.inline|markup_attrs({
							'aria-hidden': 'true',
							'class': 'icon icon--larger',
							'focusable': 'false',
							'height': '1em',
							'width': '1em'
						})|raw }}
					{% endif %}
				</div>
			</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>