<figure class="component component--fifty-fifty {% if order == 'reversed' %}reversed{% endif %}">
	<div class="{% if attr.extension == 'svg' %}illustration{% else %}image{% endif %}">
		{% if attr.extension == 'svg' %}
			<img src="{{ attr.src }}"
			     role="img"
			     loading="lazy"
				{% if informative_or_decorative == 'decorative' %}
					alt=""
				{% else %}
					alt="{% if alt %}{{ alt }}{% endif %}"
				{% endif %}
			/>
		{% else %}
			<img {% for key, value in attr %}{{ key }}="{{ value }}" {% endfor %}
				sizes="(min-width: 48em) 50vw, 100vw"
				loading="lazy"
				{% if informative_or_decorative == 'decorative' %}
					alt=""
				{% else %}
					alt="{% if alt %}{{ alt }}{% endif %}"
				{% endif %}
			/>
		{% endif %}
	</div>
	<figcaption>
		<h2 class="txt-earth">{{ title }}</h2>
		{{ content|raw }}
		{% if link_main_url is defined and link_main_url and link_main_text is defined and link_main_text %}
		<div class="l-box l-box--no-border l-box--no-padding">
			<a class="button button--alt" href="{{ link_main_url }}">{{ link_main_text }}</a>
			{% if link_secondary_url is defined and link_secondary_url and link_secondary_text is defined and link_secondary_text %}
				<a href="{{ link_secondary_url }}">{{ link_secondary_text }}</a>
			{% endif %}
		</div>
		{% endif %}
	</figcaption>
</figure>