<div class="u-full-width component component--group-list">
    <div class="l-center">
        {% if (list_title is defined and list_title) or (list_introduction is defined and list_introduction)  %}
        <div class="component--group-list__intro">
            {% if (list_title is defined and list_title) %}
            <h2>{{ list_title }}</h2>
            {% endif %}
            {% if (list_introduction is defined and list_introduction) %}
            <p>{{ list_introduction }}</p>
            {% endif %}
        </div>
        {% endif %}
        {% if groups is not empty %}
            {% embed '@W3CWebsiteTemplates/components/collapsible-containers.html.twig' with {objects: groups}%}
                {% block title %}{{ object.name|strip_group_type }}{% endblock title %}
                {% block subtitle %}{{ object.type|capitalize }}{% endblock subtitle %}
                {% block content %}
                    <p>{{ object.description }}</p>
                    <a href="{{ object.url }}">{{ 'components.groups_list.link_text'|trans({'name': object.name|strip_group_type}, 'w3c_website_templates_bundle') }}</a>
                {% endblock content %}
            {% endembed %}
        {% endif %}
    </div>
</div>
