{% if ctas is empty %}
	{% set ctas = [
		{
			'label': 'components.members.join'|trans({} , 'w3c_website_templates_bundle'),
			'url': 'components.members.joinurl'|trans({} , 'w3c_website_templates_bundle')
		},
		{
			'label': 'components.members.donate'|trans({} , 'w3c_website_templates_bundle'),
			'url': 'components.members.donateurl'|trans({} , 'w3c_website_templates_bundle')
		}
	] %}
{% endif %}
<div class="component component--members u-full-width">
	<div class="l-center">
		<h2 class="visuallyhidden">{{ "components.members.title"|trans({}, 'w3c_website_templates_bundle') }}</h2>
		<p>{{ "components.members.members_include"|trans({ 'count' : members|length }, 'w3c_website_templates_bundle') }}</p>
		<div class="component--members__grid">
			<div>
				<img src="{{ asset('svg/placeholder-logo.svg', 'main') }}" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="{{ asset('svg/placeholder-logo.svg', 'main') }}" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="{{ asset('svg/placeholder-logo.svg', 'main') }}" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="{{ asset('svg/placeholder-logo.svg', 'main') }}" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="{{ asset('svg/placeholder-logo.svg', 'main') }}" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="{{ asset('svg/placeholder-logo.svg', 'main') }}" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="{{ asset('svg/placeholder-logo.svg', 'main') }}" alt role="presentation" loading="lazy" />
			</div>
			<div>
				<img src="{{ asset('svg/placeholder-logo.svg', 'main') }}" alt role="presentation" loading="lazy" />
			</div>
		</div>
		<a href="path/to/page">{{ "components.members.view_all"|trans({}, 'w3c_website_templates_bundle') }}</a>
		<div class="l-cluster component--members__cta">
			<div>
				<p>{{ "components.members.get_involved"|trans({}, 'w3c_website_templates_bundle') }}</p>
				{% for cta in ctas %}
				<a class="button button--alt" href="{{ cta.url }}">{{ cta.label }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>