<div class="tr-list__item">
    <div class="tr-list__item__header">
        <h3>
            <a href="{{ spec.latestVersionUri }}">{{ spec.title }}</a>
        </h3>
        {% block maturity %}{% endblock %}
    </div>
    <div>{{ w3c_date_format(spec.date)|raw }}{% block history %} - <a href="{{ path('history_view', { 'spec': spec.specification.shortname }) }}">history</a>{% endblock history%}</div>
    <dl class="inline">
    {% block tags %}
    {% if spec.specification.tags|length > 0 %}
        <div>
            <dt>Tags</dt>
            {% for tag in spec.specification.tags|map(t => "#{t.title}") -%}
            <dd>{{ tag }}</dd>
            {% endfor -%}
        </div>
    {% endif %}
    {% endblock tags %}
    {% block deliverers %}
    {% if spec.deliverers|filter(d => d.group.shortname != 'unknownwg' and d.group.groupType != 'coord')|length > 0 %}
        <div>
            <dt>Deliverers</dt>
            {% for deliverer in spec.deliverers -%}
            <dd><a href="{{ path('groups_show_about', {'type': deliverer.group.groupType, 'shortname': deliverer.group.shortname })}}">{{ deliverer.group.name }}</a></dd>
            {% endfor -%}
        </div>
    {% endif %}
    {% endblock deliverers %}
    {% block translations %}
    {% if spec.translations and spec.translations.translations|length > 0 %}
        <div class="translation-list">
            <dt>Translation{% if spec.translations.translations|length > 1 %}s{% endif %} <span class="visuallyhidden">for {{ spec.title }}</span></dt>
            {% for t in spec.translations.translations|sort((a,b) => a.language <=> b.language) -%}
            <dd><a hreflang="{{ t.language|locale_to_bcp47 }}" href="{{ t.uri }}"><span lang="{{ t.language|locale_to_bcp47 }}">{{ t.language|locale_name(t.language) }}</span></a></dd>
            {% endfor -%}
        </div>
    {% endif %}
    {% endblock translations %}
    {% block crs %}
        {% if spec.crd %}
            {% set cr = spec.specification.lastSpecVersionOfType('CR') %}
            {% if cr %}
                <div>
                    <dt>Latest Candidate Recommendation Snapshot</dt>
                    <dd><a href="{{ cr.uri }}">{{ w3c_date_format(cr.date)|raw }}</a></dd>
                </div>
            {% endif %}
        {% endif %}
    {% endblock crs %}
    </dl>
    {% block description %}
        {{ spec.specification.description|raw }}
    {% endblock description %}
</div>
