{% extends '@W3CWebsiteTemplates/base.html.twig' %}

{% block main %}
    <h1>{% block title %}{{ page.title|default('error.title'|trans({'status_code': status_code, 'status_text': status_text}, 'w3c_website_templates_bundle')) }} | W3C{% endblock %}</h1>
    {% embed '@W3CWebsiteTemplates/components/text.html.twig' %}
        {% block text %}
            {{ 'error.intro'|trans({'status_code': status_code, 'status_text': status_text}, 'w3c_website_templates_bundle')|raw }}
        {% endblock %}
    {% endembed %}

    {% block content %}{% endblock content %}

    {% block contact %}
        {% set subject -%}
            {%- apply url_encode -%}
                Error: {{ (exception ? exception.message : app.request.uri) }}
            {%- endapply -%}
        {%- endset %}
        {% set body -%}
            {%- apply url_encode -%}
Issue description



----
URL: {{ app.request.uri }}
Date: {{ "now"|date('c') }}
{% if exception -%}
    Exception at {{ exception.file|file_relative }}: {{ exception.line }}
{%- endif %}
            {%- endapply -%}
        {%- endset %}

        {% embed '@W3CWebsiteTemplates/components/text.html.twig' %}
            {% block text %}
                {{ 'error.contact'|trans({'params': "?subject=" ~ subject ~ "&amp;body=" ~ body}, 'w3c_website_templates_bundle')|raw }}
            {% endblock %}
        {% endembed %}
    {% endblock contact %}
{% endblock main %}
