{% extends '@W3CWebsiteTemplates/bundles/TwigBundle/Exception/error.html.twig' %}

{% block documenttitle %}{{ 'error.500.title'|trans({}, 'w3c_website_templates_bundle') }} | W3C{% endblock documenttitle %}

{% block title %}{{ 'error.500.title'|trans({}, 'w3c_website_templates_bundle') }}{% endblock title %}

{% block content %}
    {% embed '@W3CWebsiteTemplates/components/text.html.twig' %}
        {% block text %}
            {{ 'error.500.message'|trans({}, 'w3c_website_templates_bundle')|raw }}
        {% endblock %}
    {% endembed %}

    {% if is_granted('ROLE_ADMIN') and exception %}
        {% embed '@W3CWebsiteTemplates/components/text.html.twig' %}
            {% block text %}
                <h2>Error details</h2>
                <p>Message: <strong>{{ exception.message }}</strong></p>
                <p>in <em>{{ exception.file|file_relative }}: {{ exception.line }}</em></p>
                <p>Trace:</p>
                <pre>{{ exception.traceAsString }}</pre>
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock content %}
